#article-container figure.highligh {
  overflow: auto;
/**background: #f6f8fa;**/
/**color: #617884;**/
  line-height: 26px;
}
#article-container pre,
#article-container code {
  color: #63737b;
}
[data-theme='dark'] #article-container pre,
#article-container code {
  color: #8e9aa7;
}
.post-copyright {
  font-size: 15px;
  color: #583a39;
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 0px solid #ff1700;
  background-color: #ffeeed;
  list-style: none;
  line-height: 1.6;
}
#post .post-copyright .post-copyright-meta {
  color: #9e423f;
  font-weight: bold;
}
.post-copyright-info a {
  padding-left: 0.3rem;
  color: #8f7b9e;
}
[data-theme='dark'] .post-copyright .post-copyright-meta {
  color: #844a4a;
}
[data-theme='dark'] .post-copyright .post-copyright-info {
  color: rgba(45,21,21,0.6);
}
[data-theme='dark'] .post-copyright {
  background-color: #858585;
  border: rgba(255,255,255,0);
}
[data-theme='dark'] .post-copyright a {
  color: #858585;
}
[data-theme='dark'] .post-copyright-info a {
  color: #1a1414;
}
.post-body .video-container {
  height: 0;
  overflow: hidden;
  padding-top: 55%;
  position: relative;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 2px #888;
  margin-bottom: 1.4cm;
}
.footer {
  font-size: 14px;
  color: #f0f0f0;
  background-color: rgba(0,0,0,0);
}
#footer {
  position: relative;
  margin-top: 1rem;
  background: rgba(73,177,245,0);
  background-attachment: local;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#footer-wrap {
  position: relative;
  padding: 2rem 1rem;
  color: #f6f8fa;
  text-align: center;
  line-height: 25px;
}
.posts-expand .post-meta {
  margin: 3px 0 20px 0;
}
[data-theme='light'] #web_bg[data-type=photo]:before {
  background-color: rgba(0,0,0,0.7);
}
.posts-expand .post-meta .post-description {
  font-size: 1.2em;
  margin-top: 12px;
  color: #565e67;
}
#waline-wrap {
/* 字体大小 */
  --waline-font-size: 17px;
/* 常规颜色 */
  --waline-white: #fff;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;
/* 主题色 */
  --waline-theme-color: #d9534f;
  --waline-active-color: #ff69b4;
/* 布局颜色 */
  --waline-color: #444;
  --waline-bgcolor: #fff;
  --waline-bgcolor-light: #f8f8f8;
  --waline-bgcolor-hover: #f0f0f0;
  --waline-border-color: #999; /*下划线*/
  --waline-disable-bgcolor: #f8f8f8;
  --waline-disable-color: #bbb;
  --waline-code-bgcolor: #282c34;
/* 特殊颜色 */
  --waline-bq-color: #f0f0f0;
/* 头像 */
  --waline-avatar-size: 3.25rem;
  --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);
/* 徽章 */
  --waline-badge-color: #d9534f;
  --waline-badge-font-size: 0.775em;
/* 信息 */
  --waline-info-bgcolor: #f8f8f8;
  --waline-info-color: #999;
  --waline-info-font-size: 0.625em;
/* 渲染选择 */
  --waline-border: 1px solid var(--waline-border-color);
  --waline-avatar-radius: 50%;
  --waline-box-shadow: none;
}
#waline-wrap .wl-card .wl-quote {
  border-left: 1px dashed #999;
}
#waline-wrap .wl-content img[src^="https://cdn.jsdelivr.net/gh/SaraKale/blogimg/emoji/alu"] {
  width: 40px;
  height: 40px;
  margin: 0.25em;
  vertical-align: middle;
}
#waline-wrap .wl-content .vemoji,
.wl-content .wl-emoji[src^="https://cdn.jsdelivr.net/gh/SaraKale/blogimg/emoji/acfun_color"] {
  width: 60px;
  height: 60px;
  margin: 0.25em;
  vertical-align: middle;
}
table {
  background-color: rgba(255,255,255,0.75);
  display: table;
}
#article-container .tabs {
  position: relative;
  margin: 0 0 1rem;
  border-right: 1px solid var(--tab-border-color);
  border-bottom: 1px solid var(--tab-border-color);
  border-left: 1px solid var(--tab-border-color);
  background-color: #fff;
}
[data-theme='dark'] table {
  background: rgba(245,245,220,0);
}
[data-theme='dark'] #article-container .tabs {
  background-color: #252222;
}
.posts-expand .post-body .fancybox img {
  margin: 10px 0px 2px 0px;
}
span#inline-toc {
  display: inline-block;
  border-radius: 80% 100% 90% 20%;
  background-color: #e3f2fd;
  color: #555;
  padding: 0.05em 0.4em;
  margin: 2px 5px 2px 0px;
  line-height: 1.5;
}
#article-container.post-content li::marker {
  color: #49b1f5;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 0.5em;
}
/*
#article-container ol, #article-container ul {
    margin-top: 0.4rem;
    padding: 0 0 0 0.8rem;
    list-style: none;
    counter-reset: li;
    //font-size: 16px;
}
#article-container ol li, #article-container ul li {
    position: relative;
    margin: 0.3rem 0;
    padding-left: 0.3rem;
    //font-size: 16px;
    line-height: 20px;
}
#article-container.post-content ul > li:not(.tab):before {
    top: 0.5em;
    width: 0.42em;
    height: 0.42em;
    border: 0.21em solid #49b1f5;
    border-radius: 0.42em;
    background: transparent;
    content: '';
    line-height: 0.42em;
}
#article-container.post-content ol > li:before {
    margin-top: 0.4em;
    width: 1.45em;
    height: 1.45em;
    border-radius: 0.725em;
    content: counter(li);
    counter-increment: li;
    text-align: center;
    //font-size: 0.85em;
    line-height: 1.45em;
}
[data-theme='light'] #article-container ul {
    color: #875555;
}
[data-theme='dark'] #article-container ul {
    color: rgba(255,255,255,0.6);
}
*/
#article-container .flink .flink-list > .flink-list-item:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #fbd1d1;
  content: '';
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.flink-list-item {
  border: 1px solid rgba(92,77,77,0.38);
}
[data-theme="dark"] #article-container .flink .flink-list > .flink-list-item:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(92,77,77,0.38);
  content: '';
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
hr {
  position: relative;
  margin: 2rem auto;
  width: calc(100% - 4px);
  border: 2px dashed #ffcac8;
  background: #fff;
}
hr:before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: #d9534f;
  content: '\f0c4';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#article-container a {
  color: rgba(226,86,86,0.851);
  text-decoration: none;
}
#article-container a:hover {
  color: #964595;
  text-decoration: none;
}
[data-theme="dark"] hr {
  position: relative;
  margin: 2rem auto;
  width: calc(100% - 4px);
  border: 2px dashed rgba(255,202,200,0.271);
  background: rgba(255,255,255,0.18);
}
[data-theme="dark"] hr:before {
  color: #858585;
}
#post .tag_share .post-meta__tags {
  display: inline-block;
  margin: 0.4rem 0.4rem 0.4rem 0;
  padding: 0.05rem 0.6rem;
  width: fit-content;
  border: 1px solid #d9534f;
  border-radius: 0.6rem;
  color: #ff69b4;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#post .tag_share .post-meta__tags:hover {
  color: #fff;
  background: #dc6688;
}
[data-theme='dark'] #post .tag_share .post-meta__tags {
  display: inline-block;
  margin: 0.4rem 0.4rem 0.4rem 0;
  padding: 0.05rem 0.6rem;
  width: fit-content;
  border: 1px solid rgba(153,162,170,0.749);
  border-radius: 0.6rem;
  color: #99a2aa;
  font-size: 1.1em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
[data-theme='dark'] #post .tag_share .post-meta__tags:hover {
  color: #fff;
  background: rgba(153,162,170,0.749);
}
#aside-content #card-toc .toc-content .toc-link.active {
  border-left-color: #e21a20;
  background: #eb5055;
  color: #fff;
}
#aside-content #card-toc .toc-content {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  line-height: 30px;
}
[data-theme='dark'] #sidebar .sidebar-toc .toc-link {
  color: rgba(214,214,214,0.788);
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 25px;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  padding: 0.15rem 0.85rem;
  background-color: #ec9694;
}
#aside_content .card-recent-post .aside-recent-item > .aside-recent-post > a .aside-post-title .aside-post_title:hover {
  color: #b34343 !important;
}
#aside-content > .card-widget:first-child {
  margin-top: 0;
  line-height: 40px;
}
@media screen and (max-width: 900px) {
  #aside-content > .card-widget:first-child {
    margin-top: 2rem;
  }
}
#aside-content .card-widget {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  line-height: 25px;
}
.announcement_content a {
  color: #b34343;
}
#aside-content .aside-list > .aside-list-item .content > .title:hover,
#aside-content .aside-list > .aside-list-item .content > .comment:hover {
  color: #b34343;
}
#recent-posts > .recent-post-item >.recent-post-info {
  display: inline-block;
  overflow: hidden;
  padding: 0 40px;
  width: 55%;
  line-height: 22px;
}
#page-header #post-info {
  line-height: 22px;
}
@media (min-width: 360px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 411px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 576px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    width: 55%;
    line-height: 22px;
  }
}
@media (min-width: 1200px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    width: 55%;
    line-height: 22px;
  }
}
@media (min-width: 1600px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    width: 55%;
    line-height: 22px;
  }
}
.article-sort-title:before {
  border: 0.25rem solid #90a4ae;
}
.article-sort {
  padding-left: 1rem;
  border-left: 2px solid #fba6a6;
}
.article-sort-item:before {
  border: 0.15rem solid #d1c8c7;
  border-radius: 0.3rem;
  background: #fff;
}
.article-sort-item-title:hover {
  color: #d56a67;
}
.article-sort-item-info {
  line-height: 30px;
}
[data-theme='dark'] .layout > div:first-child:not(.recent-posts) {
  background: #121212;
}
#pagination .page-number {
  color: #654545;
  font-weight: bold;
}
[data-theme='dark'] .article-sort-item__title:hover {
  color: #d56a67;
}
#pagination .page-number.current {
  background: #ee6c68;
  color: #fff;
  cursor: default;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-title:hover {
  color: #f07d79 !important;
}
[data-theme='dark'] #pagination .page-number {
  color: rgba(255,255,255,0.6);
  font-weight: bold;
}
.category-content ul li:before {
  border: 0.15rem solid #e26662;
  border-radius: 0.3rem;
  background: #fff;
}
#page .category-lists .category-list a:hover {
  color: #ee6c68;
  text-decoration: none;
}
.tag-cloud-list.is-center {
  line-height: 50px;
}
#nav .menus_items .menus_item .menus_item_child li {
  list-style: none;
  line-height: 30px;
}
#nav .menus_items .menus_item .menus_item_child li a:hover {
  color: #fff;
  background: #f07d79;
}
#nav .menus_items .menus_item .menus_item_child li:hover {
  background: #f07d79;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#nav .site-page:not(.child):after {
  color: #da6d69;
  background-color: #da6d69;
}
#sidebar #sidebar-menus .menus_items {
  padding: 0 0.5rem 2rem;
  line-height: 30px;
}
#sidebar #sidebar-menus .menus_items .site-page:hover {
  background: #f5bdbb;
}
[data-theme='dark'] #sidebar #sidebar-menus .menus_items .site-page:hover {
  background: #99a2aa;
}
[data-theme='dark'] #nav .menus_items .menus_item .menus_item_child li a:hover {
  color: #fff;
  background: #888;
}
[data-theme='dark'] #sidebar #sidebar-menus .menus_items {
  padding: 0 0.5rem 2rem;
  line-height: 30px;
}
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
  background: rgba(255,255,255,0.749);
  -webkit-box-shadow: 0 5px 20px 7px rgba(7,17,27,0.55);
  box-shadow: 0 5px 20px 7px rgba(7,17,27,0.55);
  transition: all 0.3s;
}
#aside-content .card-widget {
  background: rgba(255,255,255,0.671);
  -webkit-box-shadow: 0 4px 12px 12px rgba(7,17,27,0.25);
  box-shadow: 0 4px 12px 12px rgba(7,17,27,0.25);
  transition: all 0.3s;
}
/***
#web_bg {
    background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
}
***/
#page,
.category-content,
.tag-cloud,
#tag,
#category {
  background: rgba(255,255,255,0.749);
  -webkit-box-shadow: 0 5px 20px 7px rgba(7,17,27,0.55);
  box-shadow: 0 5px 20px 7px rgba(7,17,27,0.55);
}
.layout_post > #post,
.layout_page > div:first-child:not(.recent-posts) {
  background: rgba(255,255,255,0.749);
  -webkit-box-shadow: 0 5px 20px 7px rgba(7,17,27,0.55);
  box-shadow: 0 5px 20px 7px rgba(7,17,27,0.55);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.layout > div:first-child:not(.recent-posts) {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
  padding: 50px 40px;
  border-radius: 8px;
  background: rgba(255,255,255,0.812);
}
[data-theme='light'] #archive {
  background-color: rgba(255,255,255,0.749);
}
[data-theme='dark'] #page {
  background-color: #121212;
}
[data-theme='dark'] #nav,
[data-theme='dark'] .layout_post > #post,
[data-theme='dark'] .layout_page > div:first-child:not(.recent-posts) {
  background-color: #121212;
}
[data-theme='dark'] #category {
  background-color: #121212;
}
[data-theme='dark'] #tag {
  background-color: #121212;
}
[data-theme='dark'] #recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
  background-color: #121212;
}
[data-theme='dark'] #aside-content .card-widget {
  background-color: #121212;
}
@media (min-width: 360px) {
  .layout_post > #post {
    padding: 30px 20px;
  }
  .layout_page > div:first-child:not(.recent-posts) {
    padding: 30px 20px;
  }
}
@media (min-width: 411px) {
  .layout_post > #post {
    padding: 30px 20px;
  }
  .layout_page > div:first-child:not(.recent-posts) {
    padding: 30px 20px;
  }
}
@media (min-width: 576px) {
  .layout_post > #post {
    padding: 30px 20px;
  }
  .layout_page > div:first-child:not(.recent-posts) {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) {
  .layout_post > #post {
    padding: 40px 30px;
  }
  .layout_page > div:first-child:not(.recent-posts) {
    padding: 40px 30px;
  }
}
@media (min-width: 992px) {
  .layout_post > #post {
    padding: 40px 30px;
  }
  .layout_page > div:first-child:not(.recent-posts) {
    padding: 40px 30px;
  }
}
@media (min-width: 1200px) {
  .layout_post > #post {
    padding: 50px 40px;
  }
  .layout_page > div:first-child:not(.recent-posts) {
    padding: 50px 40px;
  }
}
@media (min-width: 1600px) {
  .layout_post > #post {
    padding: 50px 40px;
  }
  .layout_page > div:first-child:not(.recent-posts) {
    padding: 50px 40px;
  }
}
#rightside > div > button,
#rightside > div > a {
  background-color: #fd6262;
  color: var(--btn-color);
}
#rightside > div > button:hover,
#rightside > div > a:hover {
  background-color: #af3d3a;
}
.aplayer {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0px 25px 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07), 0 1px 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07), 0 1px 5px 0 rgba(0,0,0,0.1);
  border-radius: 2px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
}
.bangumi-info-items {
  font-size: 14px;
  color: #00a1d6;
  padding-top: 10px;
  line-height: -10px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
#bangumi-item2 .bangumi-comments {
  font-size: 14px;
  line-height: 24px;
}
.bangumi-info-item {
  display: inline-block;
  width: 13%;
  border-right: 1px solid #c2c8d6;
  text-align: center;
  height: 34px;
}
.bangumi-info-item em {
  display: block;
  padding-top: 6px;
  line-height: 17px;
  font-style: normal;
  font-weight: 700;
  color: #0e9bf7;
  font-size: 14px;
}
.bangumi-info-label {
  display: block;
  line-height: 12px;
  color: #5e90b1;
  font-size: 13px;
}
.bangumi-info-total {
  padding-top: 11px;
  display: block;
  line-height: 12px;
  color: #0e9bf7;
  font-size: 14px;
}
a.steamItem {
  line-height: 20px;
  white-space: normal;
  -webkit-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
  width: 45%;
  float: left;
  overflow: hidden;
  display: block;
  padding: 0% 1% 0% 0%;
  height: 148px;
  color: #95c3dd;
  border: 1px solid;
  border-radius: 0px 10px 10px 0px;
  text-decoration: none;
  background-color: #282e39;
  margin: 2% 5% 2% 0;
}
.steamtext {
  position: relative;
  margin: 0.4rem 0 0.4rem;
  color: #fff;
}
a.steamItem:hover {
  color: #95c3dd;
  opacity: 0.8;
  filter: saturate(150%);
  -webkit-filter: saturate(150%);
  -moz-filter: saturate(150%);
  -o-filter: saturate(150%);
  -ms-filter: saturate(150%);
}
a.steamItem img {
  pointer-events: none;
  width: 104px;
  float: left;
  padding-right: 5px;
}
a.steamItem .steamtext {
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 140px;
  font-size: 16px;
  color: #fff;
  padding: 1% 0% 0% 3%;
  line-height: 160%;
}
a.steamItem div.steamBG {
  height: 25px;
  width: 128px;
  background-color: #000;
  display: inline-block;
  border-radius: 0px;
  position: absolute;
  right: 3%;
  bottom: 0px;
}
a.steamItem div.steamFG {
  height: 21px;
  width: 83px;
  background-color: #4c6b22;
  border-radius: 2px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
}
a.steamItem div.steamiText {
  width: 100%;
  height: auto;
  text-align: right;
  color: #fff;
  line-height: 15px;
  font-size: 14px;
  position: absolute;
  right: 11px;
  bottom: 5px;
  z-index: 2;
}
.steamtext p {
  font-size: 14px;
  line-height: 1.5;
  color: #a9afb9;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.textbig2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
}
.steamItem > #article-container a {
  color: #7598ae;
}
@media (min-width: 368px) {
  a.steamItem {
    width: 100%;
  }
  .textbig2 {
    font-size: 17px;
  }
  #article-container .steamtext p {
    font-size: 15px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 411px) {
  a.steamItem {
    width: 100%;
  }
  .textbig2 {
    font-size: 17px;
  }
  #article-container .steamtext p {
    font-size: 15px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 576px) {
  a.steamItem {
    width: 100%;
  }
  .textbig2 {
    font-size: 18px;
  }
  #article-container .steamtext p {
    font-size: 15px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 788px) {
  a.steamItem {
    width: 100%;
  }
  .textbig2 {
    font-size: 20px;
  }
  #article-container .steamtext p {
    font-size: 16px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 1020px) {
  a.steamItem {
    width: 45%;
  }
  .textbig2 {
    font-size: 20px;
  }
  #article-container .steamtext p {
    font-size: 16px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
  }
}
.steampic {
  pointer-events: none;
}
#widget {
  border: 1px solid #2d3139;
  background-color: #282e39;
  width: 614px;
  padding: 10px 15px;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 5px;
}
#widget h1.main_text {
  color: #fefefe;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 425px;
}
#widget h1 {
  font-size: 21px;
  font-weight: normal;
  vertical-align: top;
  display: inline-block;
  line-height: 28px;
}
#widget .desc {
  margin: 10px 10px 0 0;
  font-size: 13px;
  color: #c9c9c9;
  line-height: 16px;
  max-height: 196px;
  overflow: hidden;
}
#widget .capsule {
  float: left;
  margin: 2px 10px 10px 0;
}
#widget .header_container {
  margin: 0px;
  padding: 0px;
}
.gameListRow {
  min-height: 69px;
  height: 170px;
  margin-bottom: 4px;
  padding: 8px;
  overflow: hidden;
  background-image: url("https://steamcommunity-a.akamaihd.net/public/images/profile/profile_header_bg_texture.jpg");
  box-shadow: 0 0 11px 2px #656972;
}
.gameListRowLogo {
  float: left;
  max-width: 30%;
  width: 180px;
  margin-right: 8px;
  position: relative;
}
.gameListRowLogo img {
  height: auto;
  max-height: 150px;
}
.gameListRowItem {
  font-size: 11px;
  color: #7092a5;
  position: relative;
  padding: 5px 0px 0px 0px;
}
.gameListRowItemName {
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 18px;
}
/**
h5.hours_played {
    height: 20px;
}
**/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 25px;
}
.gameListRowItem h5 {
  padding: 0;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #9da4a8;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 788px) {
  .gameListRowItem h5 {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (min-width: 368px) {
  .social-icon {
    font-size: 23px;
  }
  #aside_content .card-info .card-info-social-icons i {
    font-size: 23px;
  }
}
@media (min-width: 411px) {
  .social-icon {
    font-size: 23px;
  }
  #aside_content .card-info .card-info-social-icons i {
    font-size: 23px;
  }
}
@media (min-width: 576px) {
  .social-icon {
    font-size: 25px;
  }
  #aside_content .card-info .card-info-social-icons i {
    font-size: 25px;
  }
}
@media (min-width: 788px) {
  .social-icon {
    font-size: 30px;
  }
  #aside_content .card-info .card-info-social-icons i {
    font-size: 25px;
  }
}
@media (min-width: 1020px) {
  .social-icon {
    font-size: 30px;
  }
  #aside-content .card-info .card-info-social-icons i {
    font-size: 30px;
  }
}
.icon-weibo:before {
  color: #af3d3a;
}
.icon-bilibili:before {
  color: #e76a8d;
}
.icon-youtube:before {
  color: #ff5f59;
}
.fa-music:before {
  color: #27a7e5;
}
.fa-book:before {
  color: #6fc193;
}
.icon-steam:before {
  color: #0e47a1;
}
.icon-github:before {
  color: #191717;
}
.icon-rss:before {
  color: #f78422;
}
.icon-container {
  color: #678273;
}
.fa-search:before {
  color: #a8d8ea;
}
.fa-list:before {
  color: #b9e1dc;
}
.fa-star:before {
  color: #8fbaf3;
}
.fa-archive:before {
  color: #928a97;
}
.fa-tags:before {
  color: #6dc9c8;
}
.fa-folder-open:before {
  color: #e2837f;
}
.fa-heart:before {
  color: #f57170;
}
.fa-film:before {
  color: #0c056d;
}
.fa-steam:before {
  color: #0e47a1;
}
.fa-link:before {
  color: #de95ba;
}
.fa-user:before {
  color: #c1c0b9;
}
.fa-history:before {
  color: #669c9c;
}
.fa-line-chart:before {
  color: #5e8196;
}
#waifu-tool .icon-bilibili:before {
  color: #1f2938;
}
[data-theme='dark'] .icon-github:before {
  color: rgba(131,143,156,0.549);
}
[data-theme='dark'] #waifu-tool .icon-bilibili:before {
  color: #5b6c7d;
}
